.cv {
  padding:20px; 
  margin-bottom:60px;}

.info {
  margin-top:30px;
}
.info a {
  color:#000000;
  margin-bottom:10px;
  display:block;
  font-size: 16px;
}

.info i {
  background:#db0000;
  color:#fff;
  width:35px;
  height:35px;
  border-radius:35px;
  text-align:center;
  line-height:35px;
  margin-right:15px;
  
}
.cv section {
  margin-bottom:30px;
}

.cv h1 {
  font-weight:bold;
  color: #db0000;
}

.cv h3 {
  font-size:18px;
  font-weight:bold;
}
.cv h4 {
  font-size:14px;
  font-weight:bold;
}



#hora {
  font-size: 18px;
  font-weight: bold;
  margin: 20px;
  color: #db0000;
  }


  #conocimientos {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  
  .skill {
    flex-basis: calc(100% / 3);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .nombre {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .barra {
    height: 10px;
    background-color: #db0000;
    width: 0;
    transition: width 1s ease-in-out;
  }
  